"use strict";
const Nodal = require('nodal');
/**
 * Class: {{= data.name }}
 *
 * @author {{=data.author }}
 * @since {{=data.since }}
 */
class {{= data.name }}Middleware {
    /**
     *
     */
    exec(controller, callback) {
        callback(null);
        return false;
    }
}
module.exports = {{= data.name }}Middleware;
