"use strict";
const Nodal = require('nodal');
/**
 * Class: {{= data.name }}
 *
 * @author {{=data.author }}
 * @since {{=data.since }}  
 */
class {{= data.name }}Renderware {
    /**
     *
     */
    exec(controller, data, callback) {
        callback(null, data);
        return false;
    }
}
module.exports = {{= data.name }}Renderware;
