'use strict';
const Nodal = require('nodal');
/**
 * Tests for: {{= data.name }}
 *
 * @author {{=data.author }}
 * @since {{=data.since }}  
 */
class {{= data.name }} extends Nodal.mocha.Test {

    test(expect) {
        it('Should do something', done => {
            expect(null).to.not.exist;
            done();
        });
    }

}
module.exports = {{= data.name }};
